.il {
    align-items: center;
    width: auto;
    padding: 10px;
    background-color:white;
    border: solid 2px;
    border-color: #181e3c;
    display: flex;
    flex-direction: column;
    border-radius: 0 20px 0 20px;
    margin: 10px;
}
h2 {
    font-size: calc(1.325rem + .9vw);
}
li{
  list-style-type: none;
}
a{
    border-radius: 5px;
    display: flex;
    width: 25vw;
    height: 100px;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    text-decoration: none;
}